<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="WebsiteScraperUrlBaseFormatString" value="https://www.healcode.com/widgets/schedules/print/{0}?options[location]={1}&amp;options[start_date]={2}&amp;options[end_date]={3}"/>
    <add key="WebsiteScraperUrlShortDateFormat" value="yyyy-MM-dd"/>
    <add key="DailyScheduleForLocationCacheDurationInMinutes" value="720"/>
    <add key="AllLocationCacheDurationInMinutes" value="1440"/>
    <add key="AllStateCacheDurationInMinutes" value="1440"/>
    <add key="LocationListPath" value="C:\Users\Matthew\GitProjects\CorePowerYoges\CorePowerYoges\CorePowerYoges.DAL\Data\LocationList.xml"/>
  </appSettings>
</configuration>